@use "../styles/variables.module.scss" as *;
@use "../styles/mixins.module.scss" as *;

ul {
    @include listAgainstLeftMarginByMariePierreLessard;
}

h3, h4, p {
    margin-top: $size-reg-spacing-by-Marie-Pierre-Lessard;
}