/* Kilde for biblioteksstylingen: min tidligere opgave react-gallery-wrapper */
/* LIBRARY STYLING ONLY -- PUT PROJECT-SPECIFIC STYLING IN OTHER FILES
Reminder: this is the library file with initial sizes, margins, etc. for text elements.
This initial styling is about obtaining a minimum viable product (MVP) as fast as possible.
This styling is meant to be overriden by project-specific styling in other files, for instance with CSS classes,
which have a higher specificity than the HTML-element selector. */

@use "./variables.module.scss" as *;

/* Note about h1-h3: 
the negative space looks pleasing as long as only two headings are juxtaposed, which is the most usual scenario. If I center
the h3 to create the impression of more space between the headings, it also looks quite good.
The user-agent stylesheet puts a whole lot of space between each heading (but there is normally much less space between 
juxtaposed headings in a design).
My logic: 2 sixths = 1/3 of the size of the heading. This obeys the rule of thirds, and it looks quite nice. It corresponds 
to having a line height of 1.6 times the font size and no margin.
*/
h1 {
    font-size: $size-gr-squared-rem-by-Marie-Pierre-Lessard;
    margin-block-start: $size-sixth-gr-squared-rem-by-Marie-Pierre-Lessard;
    margin-block-end: $size-sixth-gr-squared-rem-by-Marie-Pierre-Lessard;
    font-weight: 700;
}

h2 {
    font-size: $size-gr-rem-by-Marie-Pierre-Lessard;
    margin-block-start: $size-sixth-gr-rem-by-Marie-Pierre-Lessard;
    margin-block-end: $size-sixth-gr-rem-by-Marie-Pierre-Lessard;
    font-weight: 700;
}

h3 {
    font-size: $size-1rem-by-Marie-Pierre-Lessard;
    margin-block-start: $size-sixth-rem-by-Marie-Pierre-Lessard;
    margin-block-end: $size-sixth-rem-by-Marie-Pierre-Lessard;
    font-weight: 700;
}

small {
    font-size: $size-1rem-on-gr-by-Marie-Pierre-Lessard;
}