/* Kilde for biblioteksstylingen: min tidligere opgave react-gallery-wrapper */
@use "../../../styles/variables.module.scss" as *;
@use "../../../styles/mixins.module.scss" as *;


/* IMPORTANT NOTE: 
**Cards** have their own flex-container declarations!
The classes below are for a **higher-level** containers, e.g. those under section headings.
Reason: the containers below have margins, which cards should NOT have since they are normally inside of a container
    with multiple cards in them, and that container typically has the necessary margins, padding, and gaps.
*/

/* #region Library styling (basic, with or without responsiveness) */
/* The classes below are an edited/expanded version of flex-container styling in assignment react-joke-fetcher */
/* #region Without passe-partout */
.responsiveFlexContainerWoPassePartoutWithUlByMariePierreLessard {
    @include verticalListByMariePierreLessard;
    margin-block: $size-reg-spacing-by-Marie-Pierre-Lessard;

    li {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .responsiveFlexContainerWoPassePartoutWithUlByMariePierreLessard {
        @include horizontalListByMariePierreLessard;

        li {
            max-width: 50%;
        }
    }
}

@media (min-width: 1024px) {
    .responsiveFlexContainerWoPassePartoutWithUlByMariePierreLessard {
        @include horizontalListByMariePierreLessard;

        li {
            max-width: 33.333%;
        }
    }
}

.responsiveFlexContainerWoPassePartoutByMariePierreLessard {
    @include flexContainerMobilesWRegGapAndCenteringByMariePierreLessard;
    margin-block: $size-reg-spacing-by-Marie-Pierre-Lessard;
}

@media (min-width: 768px) {
    .responsiveFlexContainerWoPassePartoutByMariePierreLessard {
        @include flexContainerTabletsWRegGapAndCenteringByMariePierreLessard;
    }
}

.unresponsiveFlexContainerWoPassePartoutAlwaysVerticalByMariePierreLessard {
    @include flexContainerMobilesWRegGapAndCenteringByMariePierreLessard;
    margin-block: $size-reg-spacing-by-Marie-Pierre-Lessard;
}

/* #endregion Without passe-partout */

/* #region With passe-partout */
.responsiveFlexContainerWPassePartoutWithUlByMariePierreLessard {
    @include verticalListByMariePierreLessard;
    margin-block: $size-reg-spacing-by-Marie-Pierre-Lessard;
    padding: $size-reg-spacing-by-Marie-Pierre-Lessard;
    background-color: $clr-bg-passe-partout-by-Marie-Pierre-Lessard;
}

@media (min-width: 768px) {
    .responsiveFlexContainerWPassePartoutWithUlByMariePierreLessard {
        @include horizontalListByMariePierreLessard;
    }
}

.responsiveFlexContainerWPassePartoutByMariePierreLessard {
    @include flexContainerMobilesWRegGapAndCenteringByMariePierreLessard;
    padding: $size-reg-spacing-by-Marie-Pierre-Lessard;
    background-color: $clr-bg-passe-partout-by-Marie-Pierre-Lessard;
}

@media (min-width: 768px) {
    .responsiveFlexContainerWPassePartoutByMariePierreLessard {
        @include flexContainerTabletsWRegGapAndCenteringByMariePierreLessard;
    }
}

.unresponsiveFlexContainerWPassePartoutAlwaysVerticalByMariePierreLessard {
    @include flexContainerMobilesWRegGapAndCenteringByMariePierreLessard;
    padding: $size-reg-spacing-by-Marie-Pierre-Lessard;
    background-color: $clr-bg-passe-partout-by-Marie-Pierre-Lessard;
}

/* #endregion With passe-partout */
/* #endregion Library styling (basic, with or without responsiveness) */

/* #region Project-specific styling goes here (overriding library styling) */



/* #endregion Project-specific styling */