/* Kilde for biblioteksstylingen: min tidligere opgave react-gallery-wrapper */
/* TO DO delete the old project-specific styling? is it reusable? */
@use "../../../styles/variables.module.scss" as *;
@use "../../../styles/mixins.module.scss" as *;

/* #region Library styling (basic, with responsiveness) */
.responsiveGridWoPassePartoutByMariePierreLessard {
    @include gridMobilesWRegGapByMariePierreLessard;
    margin-block: $size-reg-spacing-by-Marie-Pierre-Lessard;
}

@media (min-width: 768px) {
    .responsiveGridWoPassePartoutByMariePierreLessard {
        @include gridTabletsWRegGapByMariePierreLessard;
    }
}

.unresponsiveGridWoPassePartoutByMariePierreLessard {
    @include gridMobilesWRegGapByMariePierreLessard;
    margin-block: $size-reg-spacing-by-Marie-Pierre-Lessard;
}

.responsiveGridWPassePartoutByMariePierreLessard {
    @include gridMobilesWRegGapByMariePierreLessard;
    padding: $size-reg-spacing-by-Marie-Pierre-Lessard;
    background-color: $clr-bg-passe-partout-by-Marie-Pierre-Lessard;
}

@media (min-width: 768px) {
    .responsiveGridWPassePartoutByMariePierreLessard {
        @include gridTabletsWRegGapByMariePierreLessard;
    }
}


/* #endregion Library styling (basic, with responsiveness) */

/* #region Project-specific styling goes here (overriding library styling) */

/* The grid with passe-partout is in exercise 2. */
.responsiveGridWPassePartoutByMariePierreLessard {
    /* Override */
    grid-template-rows: repeat(4, 88vh); //Replacing auto because the positioned footer is over the body with auto
}

@media (min-width: 375px) {
    .responsiveGridWPassePartoutByMariePierreLessard {
        /* Override */
        grid-template-rows: repeat(4, 75vh); //Replacing auto because the positioned footer is over the body with auto 
    }
}

@media (min-width: 425px) {
    .responsiveGridWPassePartoutByMariePierreLessard {
        /* Override */
        grid-template-rows: repeat(4, 60vh); //Replacing auto because the positioned footer is over the body with auto 
    }
}

@media (min-width: 768px) {
    .responsiveGridWPassePartoutByMariePierreLessard {
        /* Override */
        grid-template-rows: repeat(2, 65vh); //Replacing auto because the positioned footer is over the body with auto 
    }
}

@media (min-width: 1440px) {
    .responsiveGridWPassePartoutByMariePierreLessard {
        /* Override */
        grid-template-rows: repeat(2, 45vh); //Replacing auto because the positioned footer is over the body with auto 
    }
}

/* Stopwatch exercise: this is based on .unresponsiveGridWoPassePartoutByMariePierreLessard 
Maybe TO DO: I am not sure what parts of this I would want to use in a SCSS library, e.g. as mixins, or what their general
purpose and thereby their name should be. I need to move on to other assignments. */
.widgetCardByMariePierreLessard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $size-grx4-rem-by-Marie-Pierre-Lessard $size-gr-rem-by-Marie-Pierre-Lessard;
    margin-block: $size-reg-spacing-by-Marie-Pierre-Lessard;

    max-width: 280px;
    margin-inline: auto;
    
    div {
        text-align: center;
        align-content: center;
        font-size: $size-gr-rem-by-Marie-Pierre-Lessard;
        border-top: 2px solid $clr-2-by-Marie-Pierre-Lessard;
        border-left: 2px solid $clr-2-by-Marie-Pierre-Lessard;
        border-right: 2px solid $clr-2-by-Marie-Pierre-Lessard;
    }

    .btnGroupByMariePierreLessard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        button {
            font-size: $size-1rem-by-Marie-Pierre-Lessard;
            height: $size-gr-rem-by-Marie-Pierre-Lessard;
            padding-inline: $size-third-rem-by-Marie-Pierre-Lessard;
            background-color: $clr-3-by-Marie-Pierre-Lessard;
        }

        button:hover {
            background-color: $clr-5-by-Marie-Pierre-Lessard;
        }

        button:focus {
            background-color: $clr-1-by-Marie-Pierre-Lessard;
            border: 3px solid $clr-2-by-Marie-Pierre-Lessard;
            outline: 1px solid $clr-2-by-Marie-Pierre-Lessard;
            outline-offset: 2px;
        }

        button:active {
            background-color: $clr-5-by-Marie-Pierre-Lessard;
        }

    }
}

/* #endregion Project-specific styling */